$transition-delay: 1.5s;

$color-background-darkest: #445768;
$color-background-dark: rgb(224, 224, 224);
$color-background-lightest: #fff;
$color-text-darkest: rgba(0, 0, 0, 0.87);
$color-text-lightest: rgba(0, 0, 0, 0.54);
$color-icon: #445768;
$color-border: #939393;


$color-dark-background-darkest: #272b2f;
$color-dark-background-dark: #7a818c;
$color-dark-background-lightest: #8a90ab78;
$color-dark-text-darkest: #fff;
$color-dark-text-lightest: #e7e6e6c7;
$color-dark-icon: #fff;
$color-dark-border: #7a818c;

