.title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  line-height: 1.334;
  letter-spacing: 0;
}

.description {
  color: var(--color-text-secondary);
  text-align: center;
  margin: 0;
  font-size: .9rem;
}

.skill {
  margin: .3rem .25rem;
}

.link {
  margin: 0 1rem;
}
