.root {
  background-color: #e0e0e0;
  border-radius: 1.5rem;
  padding: .5rem .75rem;
  letter-spacing: 0.14994px;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-weight: 400;
}

.big {
  font-size: .85rem;
}

.default {
  font-size: .8rem;
}
