@use "../../styles/variables.module" as v;

.image {
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  filter: brightness(105%) !important;
  border: 3px solid var(--color-border) !important;
  transition: border ease v.$transition-delay;
}
